<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <p>l'id produit{{ id }} </p>
    <p>slug ={{ slug }}</p>
    <p>{{ ip }}</p>
</head>
<body>
<p>test</p>
</body>
</html>